/*整體寬度為960px，置中*/
body
{
	width:960px;
	max-width:960px;
	min-width:960px;
	margin-left: auto;
  	margin-right: auto;
}
/*音樂曲目以及注意事項和上方的間格*/
body>div
{
	margin-top:20px;
}
/*政大第12屆標題(width=60%)+旁邊選項(width=40%)*/
body> header
{
	display:table;
	width:100%;

}
#title
{
	display:table-cell;
	width:60%;
	vertical-align:middle;
}
body> header> nav
{
	display: flex;
	justify-content: flex-end;
	border-right:0px;
	text-decoration:none;
	padding-right:1%;
}
body> header> nav> ul
{
	float:right;
	width:40%;
	list-style: none;
	list-style-image:url(http://artist.nccu.edu.tw/2012spring/images/arrow_green_sm.gif);
}
body> header> nav> ul> li
{
	border-bottom: 2px dotted blue;
	text-decoration: none;
}
body> header> nav> ul> li> a
{
	color:green;
	text-decoration:none;
}
body> header> nav> ul> li> a:visited
{
	color:red;
}
body> header> nav> ul> li> a:hover
{
	color: orange;
}

/*駐校音樂會表格*/
body> div> table
{
	background-color: black;
	border-radius:6px;
}
#school-concert 
{
	color:white;
	table-layout:auto;
	word-break: keep-all;
	font-size:1em;
}
#school-concert h5
{
	color:orange;
	text-align: center;
	margin-bottom: 0px;
	margin-top:4%;
}
#school-concert h5 img
{
	color:darkorange;
}
#school-concert p
{
	margin-bottom: 4%;
	margin-top:3%;
	font-size:0.8em;
}

/*音樂會曲目*/
body>div
{
	display:flex;
}
body>div>article
{
	width:71%;/*100%-1-1-25-1-1=71*/
}
.title_music
{
	font-size:1.4em;
	color:rgb(44,142,6);
	margin-bottom: 10px;
	margin-top:0px;
	font-weight: bold;
}
.music
{
	width:100%;
	border: 1px solid rgba(221,221,221,0.5);
}
.music>thead
{
	background-color: rgb(109,219,0);
}
.music>tbody
{
	background-color: rgba(221,221,221,0.5);
}
.music-center
{
	text-align: center;
	background-color: white;
	font-weight: bold;
}
.music>tbody>tr>td:nth-child(1),
.music>thead>tr>td:nth-child(1)
{
	text-align: center;
}

/*單位演出介紹*/
.intro
{
	display: flex;
	margin:auto;
	justify-content: flex-end;
	border-bottom: 3px dotted orange;
}
.intro-pic
{
	width:38%;
	align-self:flex-end;
	margin-bottom: 15px;
	border-top:100px solid black;
	flex-direction: column;
}
.intro>article,.intro-2>article,.intro-3>article
{
	width:62%;
	margin-left:1%;
	flex-direction: column;
}
.intro-2
{
	display: flex;
	margin:auto;
	justify-content: flex-end;
	margin-top:15px;
	border-bottom: 3px dotted orange;
}
.intro2-pic,.intro3-pic
{
	vertical-align:bottom;
	background-color: white;
	width:38%;
}
.intro2-pic>img
{
	margin-bottom:2%;
}
.intro-3
{
	display: flex;
	margin:auto;
	justify-content: flex-end;
	margin-top:15px;
}

/*注意事項*/
body>div>aside
{
	width:29%;/*1%+1%+25%+1%+1%*/
	margin-right:1%;
	margin-left:1%;
	background-color: rgba(221,221,221,0.5);
}
body>div>aside>div
{
	padding-left:1%;
	padding-right:1%;
}
body>div>aside>img
{
	padding-top: 0px;
	width:100%;
}
.title
{
	font-size:1.4em;
	color:rgb(44,142,6);
	margin-bottom: 10px;
	margin-top:0px;
	font-weight: bold;
}
#notice-bonus
{
	font-size:1.2em;
}

/*totop image*/
body>div>a
{
	display:flex;
	justify-content: flex-end;
	margin-right:1%;
	margin-top:3%;
	width:960px;
	border-bottom: 3px dotted rgba(221,221,221,0.6);
}
/*footer*/
body>footer
{
	display:flex;
}
body>footer>nav
{
	float:right;
	text-align: right;
	width:45%;
	margin-right:1%;
	align-self:center;
}
body>footer>nav>a
{
	text-decoration:none;
	color:black;
}
body>footer>div
{
	float:left;
	width:55%;
	display:flex;
}
body>footer>div>a
{
	align-self:center;
}
body>footer>div>p
{
	margin:0px;
}

/*font共用*/
.myfont
{
	font-size:0.7em;
	line-height:1.7;
}
.font-orange
{
	color:orange;
}